<div class="article-preview">
  <rw-article-meta [article]="article">
    <!-- <rw-favorite-btn
      [article]="article"
      class="pull-xs-right">
      {{ article.favoritesCount }}
    </rw-favorite-btn> -->
  </rw-article-meta>

  <!-- <a ui-sref="app.article({ slug: $ctrl.article.slug })" class="preview-link"> -->
  <a class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline"
        *ngFor="let tag of article.tagList"
      >
        {{ tag }}
      </li>
    </ul>
  </a>
</div>
