<div class="article-preview">
  <rw-article-meta [article]="article">
    <rw-favorite-btn
      [article]="article"
      class="pull-xs-right">
      {{ article.favoritesCount }}
    </rw-favorite-btn>
  </rw-article-meta>

  <a
    class="preview-link"
    [routerLink]="['/article', article.slug]"
  >
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline"
        *ngFor="let tag of article.tagList"
      >
        {{ tag }}
      </li>
    </ul>
  </a>
</div>
